@import "../../static/scss/base/variables.scss";

.social {

  &__link {
    position: relative;
    width: fit-content;
    display: block;
    padding-left: 50px;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
    color: $color-black;

    path {
      fill: $main-color2
    }

    &:hover {
      .social__icon {
        background-color: $main-color2;
      }

      path {
        fill: $color-white
      }
    }
  }

  &__icon {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    border: 1px solid $main-color2;
    border-radius: 50%;
    transition: all .25s;
  }
}