@import "../../static/scss/base/variables.scss";
@import "../../static/scss/base/mixins.scss";

.social {
  display: flex;
  justify-content: center;

  &__link {
    position: relative;
    display: block;
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 15px;
    margin-right: 20px;
    color: $color-black;

    @include tablets {
      font-size: 18px;
      margin-right: 20px;
    }

    &:last-child {
      margin-right: 0;
    }

    path {
      fill: $main-color2
    }

    &:hover {
      .social__icon {
        background-color: $main-color2;
      }

      path {
        fill: $color-white
      }
    }
  }

  &__icon {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    border: 1px solid $main-color2;
    border-radius: 50%;
    transition: all .25s;
  }
}