@import "../../static/scss/base/variables.scss";
@import "../../static/scss/base/mixins.scss";

.technology {
  &__filter {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;

    @include laptop {
      margin-bottom: 50px;
    }
  }

  &__filter-item {
    display: inline-flex;
    margin: 5px;

    @include tablets {
      margin: 5px 10px;
    }

    .tag {
      font-size: 18px;
      color: $color-darkgray;
      font-weight: 500;
      border-bottom: 2px solid transparent;
    }

    &:hover .tag,
    .tag.active {
      color: $color-black;
      cursor: pointer;
      border-bottom-color: $main-color2;
    }
  }
}