@import "../static/scss/base/variables.scss";
@import "../static/scss/base/mixins.scss";

.projects-page {
  padding-bottom: 50px;

  &__filters {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    row-gap: 20px;
    margin-bottom: 20px;

    @include tablets {
      grid-template-columns: repeat(2, minmax(0, 1fr));
      column-gap: 5%;
      margin-bottom: 40px;
    }
  }
}

