* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: $montserrat-display, sans-serif;
  font-size: 16px;
}

button {
  outline: none;
  background: none;
  border: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #181818;
}

.container {
  width: 100%;
  max-width: 1640px;
  padding: 0 20px;
  margin: 0 auto;
}

.inner {
  @include desktop {
    width: 80%;
    margin: 0 auto;
  }
}

.btn {
  position: relative;
  display: inline-block;
  padding: 8px 10px;
  color: #fff;
  border: 2px solid $main-color2;
  border-radius: 12px;
  overflow: hidden;
  font-weight: 500;
  transition: all .5s;
  cursor: pointer;
  z-index: 2;

  &__l {
    @include tablets {
      font-size: 22px;
      padding: 10px 20px;
    }

    @include desktop {
      font-size: 24px;
      padding: 15px 25px;
    }
  }

  &:hover {
    color: $main-color2;

    &:before {
      transform: translateX(-100%) rotate(-30deg);
    }

    &:after {
      transform: translateX(100%) rotate(30deg);
    }
  }

  &:before,
  &:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -2;
    background: $main-color2;
    transform: translate3D(0, -100%, 0);
    transition: all .5s;
  }

  &:before {
    top: 0;
    left: 0;
    width: 150%;
    transform-origin: 0 bottom;
    transform: rotate(0deg);
    transition: all .5s;
  }

  &:after {
    top: 0;
    left: auto;
    right: 0;
    width: 150%;
    transform-origin: right bottom;
    transform: rotate(0deg);
    transition: all .5s;
  }
}

.wrapper-gradient-first {
  background: linear-gradient(360deg, rgba(232, 223, 253, 0.5) 0%, rgba(255, 255, 255, 0.5) 100%);
  padding-bottom: 30px;

  @include tablets {
    padding-bottom: 50px;
  }

  @include laptop {
    padding-bottom: 100px;
  }
}

.wrapper-gradient-second {
  background: linear-gradient(360deg, rgba(253, 205, 69, 0.3) 0%, rgba(253, 243, 253, 0.5) 100%);
  padding-bottom: 30px;

  @include tablets {
    padding-bottom: 50px;
  }

  @include laptop {
    padding-bottom: 100px;
  }
}