.hidden {
  display: none;
}

.visible {
  display: block;
}

.error {
  margin-top: 10px;
  color: $red;
}

.success {
  margin-top: 10px;
  color: $green;
}

h1 {
  font-size: 58px;
  line-height: 1;

  @include phones {
    font-size: 72px;
  }

  @include tablets {
    font-size: 96px;
  }

  @include laptop {
    font-size: 112px;
  }

  @include desktop {
    font-size: 132px;
  }
}

h2 {
  font-size: 44px;
  line-height: 1.2;

  @include phones {
    font-size: 48px;
  }

  @include laptop {
    font-size: 52px;
  }
}

h3 {
  font-size: 40px;
  line-height: 1.2;

  @include phones {
    font-size: 44px;
  }

  @include laptop {
    font-size: 48px;
  }
}

h4 {
  font-size: 18px;
  line-height: 1.2;

  @include phones {
    font-size: 24px;
    line-height: 1.5;
  }

  @include laptop {
    font-size: 28px;
  }

  @include desktop {
    font-size: 32px;
  }
}

h5 {
  font-size: 16px;;
  line-height: 1.2;

  @include laptop {
    font-size: 18px;
  }

  @include desktop {
    font-size: 20px;
  }
}

span {
  display: block;
}

[data-aos="animation-translate-right"] {
  transform: translateX(-30px);
  opacity: 0;
  transition-property: transform, opacity;
}

[data-aos="animation-translate-right"].aos-animate {
  transform: translateX(0);
  opacity: 1;
}

[data-aos="animation-translate-up"] {
  transform: translateY(40px);
  opacity: 0;
  transition-property: transform, opacity;
}

[data-aos="animation-translate-up"].aos-animate {
  transform: translateY(0);
  opacity: 1;
}

[data-aos="animation-scale"] {
  transform: translateY(30px) scale(0.5);
  opacity: 0;
  transition-property: transform, opacity;
}

[data-aos="animation-scale"].aos-animate {
  transform: translateY(0) scale(1);
  opacity: 1;
}

[data-aos="animation-scale-y"] {
  transform: translateY(40px) scaleY(1.4);
  opacity: 0;
  transition-property: transform, opacity;
}

[data-aos="animation-scale-y"].aos-animate {
  transform: translateY(0) scaleY(1);
  opacity: 1;
}

[data-aos="animation-scale-x-left"] {
  transform: translateX(-50px) scaleX(1.1);
  opacity: 0;
  transition-property: transform, opacity;
}

[data-aos="animation-scale-x-left"].aos-animate {
  transform: translateX(0) scaleX(1);
  opacity: 1;
}

[data-aos="animation-scale-x-right"] {
  transform: translateX(50px) scaleX(1.1);
  opacity: 0;
  transition-property: transform, opacity;
}

[data-aos="animation-scale-x-right"].aos-animate {
  transform: translateX(0) scaleX(1);
  opacity: 1;
}

[data-aos="animation-translate-y"] {
  transform: translateY(40px);
  opacity: 0;
  transition-property: transform, opacity;
}

[data-aos="animation-translate-y"].aos-animate {
  transform: translateY(0);
  opacity: 1;
}

[data-aos="transform"] {
  transform: rotateX(90deg) skewY(-5deg);
  opacity: 0;
  transition-property: transform, opacity;
}

[data-aos="transform"].aos-animate {
  transform: translate(0) rotateX(0deg) skewY(0deg);
  opacity: 1;
}