.hidden {
  display: none;
}

.visible {
  display: block;
}

.error {
  background: $red;
}

.mb-50 {
  margin-bottom: 50px;
}

.cursor--default {
  cursor: default;
}

@keyframes fadeInDowCustom {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fadeInDowCustom {
  @media screen and (min-width: 768px) {
    animation-name: fadeInDowCustom;
  }
}

h1 {
  font-size: 132px;
  line-height: 1;
}

h2 {
  font-size: 52px;
  line-height: 1.2;
}

h3 {
  font-size: 48px;
  line-height: 1.2;
}

h4 {
  font-size: 32px;
  line-height: 1.5;
}

[data-aos="animation-translate-right"] {
  transform: translateX(-30px);
  opacity: 0;
  transition-property: transform, opacity;
}

[data-aos="animation-translate-right"].aos-animate {
  transform: translateX(0);
  opacity: 1;
}

[data-aos="animation-translate-up"] {
  transform: translateY(40px);
  opacity: 0;
  transition-property: transform, opacity;
}

[data-aos="animation-translate-up"].aos-animate {
  transform: translateY(0);
  opacity: 1;
}

[data-aos="animation-scale-y"] {
  transform: translateY(40px) scaleY(1.4);
  opacity: 0;
  transition-property: transform, opacity;
}

[data-aos="animation-scale-y"].aos-animate {
  transform: translateY(0) scaleY(1);
  opacity: 1;
}
