/* colors */
/* fonts */
/* breakpoints */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 16px; }

button {
  outline: none;
  background: none;
  border: none; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  color: #181818; }

.container {
  width: 100%;
  max-width: 1640px;
  padding: 0 20px;
  margin: 0 auto; }

.inner {
  width: 80%;
  margin: 0 auto; }

.btn {
  position: relative;
  display: inline-block;
  padding: 8px 10px;
  color: #fff;
  border: 2px solid #9C8CC2;
  border-radius: 12px;
  overflow: hidden;
  font-weight: 500;
  transition: all .5s;
  z-index: 2; }
  .btn:hover {
    color: #9C8CC2; }
    .btn:hover:before {
      transform: translateX(-100%) rotate(-30deg); }
    .btn:hover:after {
      transform: translateX(100%) rotate(30deg); }
  .btn:before, .btn:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -2;
    background: #9C8CC2;
    transform: translate3D(0, -100%, 0);
    transition: all .5s; }
  .btn:before {
    top: 0;
    left: 0;
    width: 150%;
    transform-origin: 0 bottom;
    transform: rotate(0deg);
    transition: all .5s; }
  .btn:after {
    top: 0;
    left: auto;
    right: 0;
    width: 150%;
    transform-origin: right bottom;
    transform: rotate(0deg);
    transition: all .5s; }

.wrapper_gradient {
  background: -o-radial-gradient(20.49% 12.79%, 75.22% 75.22%, #FFFFFF 0%, rgba(228, 231, 233, 0.502295) 100%);
  background: radial-gradient(75.22% 75.22% at 20.49% 12.79%, #FFFFFF 0%, rgba(228, 231, 233, 0.502295) 100%);
  padding: 50px 0; }

.hidden {
  display: none; }

.visible {
  display: block; }

.error {
  background: #d53722; }

.mb-50 {
  margin-bottom: 50px; }

.cursor--default {
  cursor: default; }

@keyframes fadeInDowCustom {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0); }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0); } }
@media screen and (min-width: 768px) {
  .fadeInDowCustom {
    animation-name: fadeInDowCustom; } }

h1 {
  font-size: 132px;
  line-height: 1; }

h2 {
  font-size: 52px;
  line-height: 1.2; }

h3 {
  font-size: 48px;
  line-height: 1.2; }

h4 {
  font-size: 32px;
  line-height: 1.5; }

[data-aos="animation-translate-right"] {
  transform: translateX(-30px);
  opacity: 0;
  transition-property: transform, opacity; }

[data-aos="animation-translate-right"].aos-animate {
  transform: translateX(0);
  opacity: 1; }

[data-aos="animation-translate-up"] {
  transform: translateY(40px);
  opacity: 0;
  transition-property: transform, opacity; }

[data-aos="animation-translate-up"].aos-animate {
  transform: translateY(0);
  opacity: 1; }

[data-aos="animation-scale-y"] {
  transform: translateY(40px) scaleY(1.4);
  opacity: 0;
  transition-property: transform, opacity; }

[data-aos="animation-scale-y"].aos-animate {
  transform: translateY(0) scaleY(1);
  opacity: 1; }

/*# sourceMappingURL=module.css.map */
