/* colors */
$main-color1: #fdcd45;
$main-color2: #9c8cc2;
$light-magenta: #e8dffd;
$red: #d53722;
$color-white: #ffffff;
$color-black: #232340;
$color-gray: #DBDEE1;
$color-darkgray: #606060;

/* fonts */
$montserrat-display: 'Montserrat';
