/* colors */
$dark-green: #3B5910;
$blue-magenta: #9C8CC2;
$light-magenta: #E8DFFD;
$red: #d53722;
$color-white: #ffffff;
$color-black: #232340;

/* fonts */
$playfair-display: 'PlayfairDisplay';
$playfair-medium: 'PlayfairDisplay-Medium';
