/* colors */
$main-color1: #77cae1;
$main-color2: #9C8CC2;
$light-magenta: #E8DFFD;
$red: #d53722;
$color-white: #ffffff;
$color-black: #232340;
$color-gray: #DBDEE1;
$color-darkgray: #606060;

/* fonts */
$montserrat-display: 'Montserrat';
