/* colors */
/* fonts */
/* breakpoints */
.contact {
  background-color: #ffffff;
  padding: 30px 20px 10px;
  border-radius: 28px;
}
@media (min-width: 768px) {
  .contact {
    padding: 60px 50px 20px;
    border-radius: 48px;
  }
}
@media (min-width: 1024px) {
  .contact {
    padding: 100px 100px 60px;
  }
}
@media (min-width: 768px) {
  .contact__content {
    max-width: 480px;
    margin-bottom: 40px;
    padding-right: 20px;
  }
}
.contact__img {
  margin-bottom: 30px;
}
.contact__img img {
  width: 100%;
  border-radius: 12px;
}
@media (min-width: 768px) {
  .contact__img img {
    border-radius: 24px;
  }
}
.contact__form {
  width: 100%;
}
.contact__form-input {
  margin-bottom: 20px;
}
.contact__form-input input,
.contact__form-input textarea {
  padding: 0 10px;
  width: 100%;
  background: rgba(244, 244, 244, 0.8);
  border-radius: 12px;
  border: 2px solid rgba(244, 244, 244, 0.8);
  font-size: 16px;
  color: #232340;
  transition: all 0.25s;
}
.contact__form-input input:focus, .contact__form-input input:focus-visible,
.contact__form-input textarea:focus,
.contact__form-input textarea:focus-visible {
  outline: none;
  border-color: #9c8cc2;
  background: #ffffff;
}
@media (min-width: 768px) {
  .contact__form-input input,
  .contact__form-input textarea {
    padding: 0 72px 0 24px;
    font-size: 18px;
  }
}
.contact__form-input input {
  height: 45px;
}
@media (min-width: 768px) {
  .contact__form-input input {
    height: 72px;
  }
}
.contact__form-input textarea {
  height: 100px;
  padding-top: 10px;
}
@media (min-width: 768px) {
  .contact__form-input textarea {
    height: 200px;
    padding-top: 20px;
  }
}
@media (min-width: 768px) {
  .contact__details, .contact__info {
    display: flex;
  }
}
@media (min-width: 1024px) {
  .contact__details > div, .contact__info > div {
    width: 50%;
  }
}
@media (min-width: 1024px) {
  .contact__details {
    justify-content: flex-end;
    margin-top: -30%;
  }
}
@media (min-width: 1366px) {
  .contact__details {
    margin-top: -25%;
  }
}
.contact__social {
  margin-bottom: 30px;
}
@media (min-width: 1024px) {
  .contact__social {
    margin-bottom: 0;
  }
}
.contact__figures {
  position: relative;
  display: none;
}
@media (min-width: 768px) {
  .contact__figures {
    display: block;
    width: 50%;
  }
}
.contact__figure {
  position: absolute;
}
.contact__figure img {
  width: 100%;
  filter: drop-shadow(1px 1px 5px #DBDEE1);
}
.contact__figure:first-child {
  z-index: 2;
}
@media (min-width: 768px) {
  .contact__figure:first-child {
    top: 85%;
    left: -55%;
    width: 80%;
  }
}
@media (min-width: 1024px) {
  .contact__figure:first-child {
    top: 20%;
    left: -9%;
    width: 50%;
  }
}
@media (min-width: 1366px) {
  .contact__figure:first-child {
    top: -17%;
    left: -6%;
    width: 35%;
  }
}
.contact__figure:nth-child(2) {
  z-index: 3;
}
@media (min-width: 768px) {
  .contact__figure:nth-child(2) {
    left: 26.5%;
    top: 10%;
    width: 50%;
  }
}
@media (min-width: 1024px) {
  .contact__figure:nth-child(2) {
    left: 63.5%;
    top: -10%;
    width: 28%;
  }
}
@media (min-width: 1366px) {
  .contact__figure:nth-child(2) {
    left: 59.5%;
    top: -10%;
    width: 21%;
  }
}
.contact__figure:nth-child(3) {
  z-index: 2;
}
@media (min-width: 768px) {
  .contact__figure:nth-child(3) {
    left: 0;
    top: 26%;
    width: 100%;
  }
}
@media (min-width: 1024px) {
  .contact__figure:nth-child(3) {
    left: 50%;
    top: 0%;
    width: 55%;
  }
}
@media (min-width: 1366px) {
  .contact__figure:nth-child(3) {
    width: 40%;
  }
}

/*# sourceMappingURL=contact.css.map */
