/* colors */
/* fonts */
/* breakpoints */
.contact {
  background-color: #ffffff;
  padding: 30px 20px 10px;
  border-radius: 28px; }
  @media (min-width: 768px) {
    .contact {
      padding: 60px 50px 20px;
      border-radius: 48px; } }
  @media (min-width: 1024px) {
    .contact {
      padding: 100px 100px 60px; } }
  .contact__content {
    max-width: 535px;
    margin-bottom: 40px;
    padding-right: 20px; }
  .contact__text {
    font-size: 16px;
    line-height: 1.5;
    color: #606060; }
    @media (min-width: 768px) {
      .contact__text {
        font-size: 18px;
        line-height: 1.7; } }
  .contact__form-input {
    margin-bottom: 20px; }
    .contact__form-input input,
    .contact__form-input textarea {
      padding: 0 10px;
      width: 100%;
      background: rgba(244, 244, 244, 0.8);
      border-radius: 12px;
      border: 2px solid rgba(244, 244, 244, 0.8);
      font-size: 16px;
      color: #232340;
      transition: all .25s; }
      .contact__form-input input:focus, .contact__form-input input:focus-visible,
      .contact__form-input textarea:focus,
      .contact__form-input textarea:focus-visible {
        outline: none;
        border-color: #9c8cc2;
        background: #ffffff; }
      @media (min-width: 768px) {
        .contact__form-input input,
        .contact__form-input textarea {
          padding: 0 72px 0 24px;
          font-size: 18px; } }
    .contact__form-input input {
      height: 45px; }
      @media (min-width: 768px) {
        .contact__form-input input {
          height: 72px; } }
    .contact__form-input textarea {
      height: 100px;
      padding-top: 10px; }
      @media (min-width: 768px) {
        .contact__form-input textarea {
          height: 200px;
          padding-top: 20px; } }
  .contact__submit.btn {
    cursor: pointer;
    background-color: #9c8cc2; }
    .contact__submit.btn:hover {
      color: #ffffff; }
    @media (min-width: 768px) {
      .contact__submit.btn {
        font-size: 24px;
        padding: 15px 25px; } }
  .contact__details, .contact__info {
    display: flex; }
    @media (min-width: 1024px) {
      .contact__details > div, .contact__info > div {
        width: 50%; } }
  .contact__details {
    flex-direction: column; }
    @media (min-width: 1024px) {
      .contact__details {
        flex-direction: row; } }
  .contact__social {
    margin-bottom: 30px; }
    @media (min-width: 1024px) {
      .contact__social {
        margin-bottom: 0; } }
  .contact__figures {
    position: relative;
    display: none; }
    @media (min-width: 768px) {
      .contact__figures {
        display: block;
        width: 50%; } }
  .contact__figure {
    position: absolute; }
    .contact__figure img {
      width: 100%;
      filter: drop-shadow(1px 1px 5px #DBDEE1); }
    .contact__figure:first-child {
      z-index: 2; }
      @media (min-width: 768px) {
        .contact__figure:first-child {
          top: 85%;
          left: -90%;
          width: 80%; } }
      @media (min-width: 1024px) {
        .contact__figure:first-child {
          top: 40%;
          left: -9%;
          width: 50%; } }
      @media (min-width: 1366px) {
        .contact__figure:first-child {
          top: -60%;
          left: 25%;
          width: 35%; } }
    .contact__figure:nth-child(2) {
      z-index: 3; }
      @media (min-width: 768px) {
        .contact__figure:nth-child(2) {
          left: 26.5%;
          top: 10%;
          width: 50%; } }
      @media (min-width: 1024px) {
        .contact__figure:nth-child(2) {
          left: 63.5%;
          top: 5%;
          width: 28%; } }
      @media (min-width: 1366px) {
        .contact__figure:nth-child(2) {
          left: 79.5%;
          top: -40%;
          width: 21%; } }
    .contact__figure:nth-child(3) {
      z-index: 2; }
      @media (min-width: 768px) {
        .contact__figure:nth-child(3) {
          left: 0;
          top: 33%;
          width: 100%; } }
      @media (min-width: 1024px) {
        .contact__figure:nth-child(3) {
          left: 50%;
          top: 25%;
          width: 55%; } }
      @media (min-width: 1366px) {
        .contact__figure:nth-child(3) {
          width: 40%; } }

/*# sourceMappingURL=contact.css.map */
