@import "../../static/scss/base/variables.scss";

.header-container {
  width: 100%;
  max-width: 1920px;
  padding: 20px;
  margin: 0 auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__nav {
    display: flex;
    align-items: center;

    a {
      font-size: 20px;
      line-height: 1.2;
      margin: 0 10px;
      cursor: pointer;

      &:last-child {
        margin-right: 0;
      }

      &.active {
        color: $dark-green;
      }
    }
  }
}