@import "../../static/scss/base/variables.scss";
@import "../../static/scss/base/mixins.scss";

.header-container {
  width: 100%;
  max-width: 1840px;
  padding: 10px 20px;
  margin: 0 auto;

  @include desktop {
    padding: 20px;
  }
}

header {
  position: sticky;
  z-index: 5;
  top: 0;
  background: linear-gradient(360deg, rgba(253, 253, 253, 1) 0%, rgba(232, 223, 253, 1) 100%);
  box-shadow: 0 5px 15px 1px rgba(156, 140, 194, 0.5);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__nav {
    display: none;
    align-items: center;

    @include tablets {
      display: flex;
    }

    &.opened {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      z-index: 5;
      display: flex;
      flex-direction: column;
      padding: 70px 20px 20px;
      background: linear-gradient(360deg, rgba(253, 253, 253, 1) 0%, rgba(232, 223, 253, 1) 100%);
      box-shadow: 0 5px 15px 1px rgba(156, 140, 194, 0.5);

      a {
        font-size: 28px;
        padding: 10px;
        margin-bottom: 5px;
      }
    }

    a {
      font-size: 20px;
      line-height: 1.2;
      margin: 0 8px;
      transition: all .25s;
      cursor: pointer;

      &:hover {
        color: $main-color2;
      }

      &:last-child {
        margin-right: 0;
      }

      &.active {
        color: $main-color2;
      }
    }
  }

  &__logo {
    position: relative;
    z-index: 6;

    a {
      display: flex;
    }

    img {
      width: 60px;

      @include tablets {
        width: 80px;
      }
      @include desktop {
        width: 100px;
      }
    }
  }

  &__burger {
    position: relative;
    z-index: 6;
    top: 0;
    right: 0;
    display: block;
    width: 32px;
    height: 24px;
    cursor: pointer;
    overflow: hidden;

    &.opened {
      span {
        margin-bottom: 0;

        &:nth-child(even) {
          transition-duration: 0.2s;
        }

        &:nth-child(2) {
          transform: rotate(45deg);
        }

        &:nth-child(4) {
          transform: rotate(-45deg);
        }

        &:nth-child(odd) {
          width: 0;
        }
      }
    }

    span {
      position: absolute;
      display: block;
      width: 32px;
      height: 2px;
      background-color: $color-black;
      transition: transform ease-in-out, width ease-in-out;
      transition-duration: 0.2s;

      &:nth-child(1) {
        top: 0;
      }

      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(4) {
        top: 0;
        bottom: 0;
        margin: auto;
      }

      &:nth-child(5) {
        bottom: 0;
      }

      &:nth-child(odd) {
        transition-duration: 0.2s;
      }
    }

    @include tablets {
      display: none;
    }
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .5);

  &.opened {
    display: block;
  }
}
