@import "../../static/scss/base/variables.scss";
@import "../../static/scss/base/mixins.scss";

.technology {
  padding-top: 30px;

  @include tablets {
    padding-top: 50px;
  }

  @include laptop {
    padding-top: 100px;
  }

  &__filter {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;

    @include laptop {
      margin-bottom: 50px;
    }
  }

  &__filter-item {
    display: inline-flex;
    margin: 5px;

    @include tablets {
      margin: 5px 10px;
    }

    .tag {
      font-size: 18px;
      color: $color-darkgray;
      font-weight: 500;
      border-bottom: 2px solid transparent;
    }

    &:hover .tag,
    .tag.active {
      color: $color-black;
      cursor: pointer;
      border-bottom-color: $main-color2;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
  }

  &__btn {
    margin-top: 40px;
    text-align: center;
  }

  &__showing {
    margin-bottom: 20px;
    text-align: right;
    color: $color-darkgray;

    @include laptop {
      font-size: 18px;
    }
  }

  &__list-item {
    position: relative;
    width: calc(100% / 2 - 10px);
    margin: 0 5px 10px 5px;
    animation: show .8s ease;
    border-radius: 12px;
    background-color: $color-white;
    box-shadow: 0 5px 15px 1px rgba(156, 140, 194, 0.5);
    transition: all .15s;

    @include tablets {
      border-radius: 24px;
    }

    @include laptop {
      width: calc(100% / 3 - 20px);
      margin: 0 10px 20px 10px;
    }

    &:hover {
      background-color: $light-magenta;
    }

    img {
      width: 100%;
      height: 100px;
      border-top-left-radius: 24px;
      border-top-right-radius: 24px;
      object-fit: cover;

      @include tablets {
        height: 200px;
      }

      @include laptop {
        height: 300px;
      }
    }
  }

  &__list-image {
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
  }

  &__list-text {
    padding: 15px 10px;

    @include tablets {
      padding: 20px 20px 30px;
    }
  }

  &__list-label {
    margin-bottom: 15px;

    @include tablets {
      margin-bottom: 25px;
    }
  }

  &__list-description {
    font-size: 14px;
    color: $color-darkgray;

    @include tablets {
      font-size: 18px;
    }

    @include laptop {
      font-size: 20px;
    }
  }
}
