@import "../../static/scss/base/variables.scss";
@import "../../static/scss/base/mixins.scss";

.technology {
  padding-top: 30px;

  @include tablets {
    padding-top: 50px;
  }

  @include laptop {
    padding-top: 100px;
  }

}
