@import "../../static/scss/base/variables.scss";

.footer {
  padding: 30px;
  text-align: center;
  background-color: $light-magenta;

  &__logo {
    margin-bottom: 50px;
  }
}

.copyright {
  color: $color-black;
}