@import "../../static/scss/base/variables.scss";
@import "../../static/scss/base/mixins.scss";

.experience {
  padding: 30px 0;

  @include tablets {
    padding: 50px 0;
  }

  @include laptop {
    padding: 100px 0;
  }

  &__items {
    margin: 0 auto;

    @include laptop {
      padding-left: 60px;
      padding-right: 60px;
    }
  }

  &__item {
    width: 100%;
    max-width: 470px;
    margin-bottom: 30px;

    @include tablets {
      max-width: 330px;
      margin-bottom: 0;
    }

    @include laptop {
      max-width: 365px;
    }

    @include desktop {
      max-width: 470px;
    }

    &:first-child {

      @include tablets {
        margin-left: auto;
      }

      .experience__item-image {
        background: $main-color2;
      }
    }

    &:nth-child(2) {

      @include tablets {
        margin-top: -275px;
      }

      @include laptop {
        margin-top: -310px;
      }

      .experience__item-image {
        background: $main-color1;
      }
    }

    &:nth-child(3) {

      @include tablets {
        margin: -70px 0 0 auto;
      }

      @include desktop {
        margin-top: 40px;
        margin-right: 100px;
      }

      .experience__item-image {
        background: $main-color2;
      }
    }
  }

  &__item-image {
    border-radius: 12px;
    margin-bottom: 40px;

    @include tablets {
      border-radius: 24px;
    }

    img {
      width: 100%;
    }
  }

  &__item-company {
    display: block;
    font-size: 28px;
    line-height: 1.5;
    font-weight: 700;
    margin-bottom: 20px;

    @include tablets {
      font-size: 32px;
      margin-bottom: 30px;
    }
  }

  &__item-description {
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 1.2;

    @include tablets {
      margin-bottom: 20px;
      font-size: 18px;
      line-height: 1.7;
    }
  }

  &__item-during {
    font-size: 18px;
    font-weight: 500;

    @include tablets {
      font-size: 20px;
    }
  }
}